.drop-box {
    margin: auto;
    background: rgba(85, 65, 225, 0.30);
    color: #3f51b5;
    border: 5px solid #303f9f;
    line-height: 180px;
    width: 300px;
    text-align: center
}

.drop-box:hover {
  background: rgba(65, 45, 205, 0.45);
  color: rgb(44, 40, 118);
}

.dragover {
    border: 5px dashed blue;
}

.alerts {
    margin-top: 15px;
    margin-bottom: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FAFAFA
}

main {
  flex: 1 0 auto;
}

.col {
  margin: .5em;
  box-sizing:border-box;
}

.btn-large {
  margin-top: .75em;
}

.footer-copyright {
  padding-left: 1em;
  padding-right: 1em;
}

.brand-logo {
  margin-left: 1em;
}

#waifu {
  position: absolute;
  bottom: 25px;
  right: 0px;
  z-index: -1;
}

a {
    color: #FDFDFD;
}

a:hover {
    color: #8c9eff;
}
