<div class="container">
    <h1>Invites</h1>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 col-md-4">
        <a class="waves-effect waves-light btn" ng-click="generate_invite()">Generate invite</a>
      </div>
      <br />
      <table class="bordered striped">
        <thead>
          <tr>
              <th>Code</th>
              <th>Redeemed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="code in codes">
            <td>{{code.code}}</td>
            <td>{{code.redeemed}}</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
