<div class="container">
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <div class="col-sm-offset-3 col-sm-6 col-md-6">
        <div ng-show="error" class="alert alert-danger text-center">{{error.message}}</div>
    </div>
    <form name="login" class="form-horizontal" ng-submit="submitLogin()">
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
                <input type="text" name="username" ng-model="user.username" class="form-control" placeholder="username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
                <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
                <input ng-disabled="!user.password || !user.username" type="submit" value="Connexion" class="btn btn-primary btn-block">
            </div>
        </div>
    </form>
</div>
